.header{
    background-color: white;
    height: 4rem;
    width: 100%;
    border-bottom: 2px solid gainsboro;
    position: relative;
}
.input-search{
    width: 230px;
    border-radius: 6px;
    padding: 10px;
    border: none;
    background: #eef3f8;
    position: absolute;
    top: 13px;
    left: 80px;
}