.header{
    background-color: white;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    /* position: relative; */
    position: fixed;
    top: 0;
}

.input-search{
    width: 250px;
    border-radius: 3px;
    padding: 8px;
    border: none;
    background: #eef3f8;
    position: absolute;
    top: 12px;
    left: 250px;
    padding-left: 30px;
}

.logo-feed{
   height: 55px;
   margin-left: 200px;
}

.search-btn{
    position: absolute; 
    top: 15px; 
    left: 250px;
    color: #00000099;
    cursor: pointer;
}

.profile-btn{
    margin-left: 53.3%;
    position: absolute;
    top: 5px;
    padding: 5px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

.small-text{
    left: 69.5%;
    position: absolute;
    top: 32px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text:hover{
    color: black;
}

.dropdown{
    left: 70.8%;
    position: absolute;
    top: 29px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

.profile-menu{
    margin-top: 5px;
    border-top: 2px solid white;
    background: white;
    width: 15%;
    margin-left: 53em;
    border-radius: 5px;
    visibility: hidden;
    height: 110px;
}

.profile-menu.expend{
    visibility: visible;
}

.profile-menu-h1{
   margin-top: -50px;
   margin-left: 65px;
   font-weight: 500;
   font-size: x-large;
}

.signout-label{
    color: #00000099;
    cursor: pointer;
    position: relative;
    left: 15px;
}

.signout-label:hover{
    text-decoration: underline;
}

.create-btn{
    position: absolute;
    top: 10px;
    left: 65%;
    color: #00000099;
    cursor: pointer;
}

.create-btn:hover{
    color: black;
}

.create-label{
    position: absolute;
    top: 32px;
    left:64.1%;
    color: #00000099;
    cursor: pointer;
    border: none;
    background: none;
}

.post-textarea{
    background: white;
    height: 470px;
    max-width: 50.4%;
    margin-left: 330px;
    position: relative;
    bottom: 165px;
    border-radius: 8px;
    visibility: hidden;
}

.post-textarea.expand{
    visibility: visible;
}

.post-textarea-h1{
    margin-top: -49px;
    margin-left: 65px;
}

.textarea{
    position: absolute;
    top: 75px;
    font-size: large;
    font-family: inherit;
    border: none;
    resize: none;
    padding-left: 15px;
    max-width: 100%;
}

.textarea:focus{
    outline: none;
}

.close-btn{
    color: #00000099;
    cursor: pointer;
    position: relative;
    left: 86.5%;
    bottom: 13px;
    padding: 2px;
}

.close-btn:hover{
    color: black;
    background: gainsboro;
    border-radius: 20px;
    
}

.post-btn{
    position: absolute;
    bottom: 15px;
    left: 90%;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #0A66C2;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
}

.post-btn.disabled{
    color: #0000004d;
    background-color: gainsboro;
    cursor: not-allowed;
}

.line3{
    border: 1px solid gainsboro;
    border-bottom: thin;
    margin-top: 30px;
}

.line4{
    position: relative;
    top: 340px;
    border: 1px solid gainsboro;
    border-bottom: thin;
}

.success-msg{
    position: fixed;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: green;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.success-msg.show{
    opacity: 1;
    top: 35px;
}

.input-search.show{
    display: block;
}

.menu-bar{
    margin-left: 60%;
    margin-bottom: 10px;
    color: #00000099;
    cursor: pointer;
    visibility: hidden;
}

.menu-bar:hover{
    color: black;
}

.menu-bar-items{
    background-color: white;
    border:1px solid gainsboro;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    gap: 15px;
    margin-left: 72%;
    position: relative;
    bottom: 110px;
    cursor: pointer;
    height: 60px;
    visibility: hidden;
}

.menu-bar-items.show{
    visibility: visible;
}

.profile-btn1{
    padding: 5px; 
    background: none; 
    border: none;
    color: #00000099;
}

.create-btn1{
    padding: 5px; 
    background: none; 
    border: none;
    color: #00000099;
}

.mobile-create-label{
    font-size: small;
    top: 28px;
    position: absolute;
    color: #00000099;
    left: 8px;
}

.mobile-profile-label{
    font-size: small;
    top: 28px;
    position: absolute;
    color: #00000099;
    left: 66px;
}

@media screen and (max-width:480px) {
    .header{
        position: fixed;
        top: 0;
    }

    .logo-feed{
        margin-left: 10px;
    }

    .input-search{
       position: absolute;
       left: 60px;
       width: auto;
       display: none;
    }

    .search-btn{
        position: absolute;
        left: 60px;
    }

    .menu-bar{
        visibility: visible;
        margin-left: 68%;
        margin-bottom: 10px;
    }

    .small-text{
        display: none;
    }

    .dropdown{
        /* display: none; */
        visibility: hidden;
    }

    .create-label{
        display: none;
    }

    .create-btn{
        top: 15px;
        visibility: hidden;
    }

    .profile-btn{
        top: 10px;
        left: 21%;
        visibility: hidden;
    }

    .menu-bar-items{
        margin-left: 65%;
    }

    .post-textarea{
       margin-left: 10px;
       margin-left: 10px;
       margin-top: 60px;
       max-width: 93%;
       height: 350px;
    }

    .close-btn{
        position: relative;
        left: 70%;
    }

    .textarea{
        height: 200px;
        max-width: 94%;
    }

    .post-btn{
        position: absolute;
        left: 75%;
    }

    .line4{
        position: relative;
        top: 220px;
    }

    .profile-menu{
        margin-left: 10px;
        width: 45%;
        position: relative;
        top: 80px;
        left: 155px;
    }

    .success-msg{
      top: -30px;
    }

    .success-msg.show{
        top: 30px;
    }
}

@media screen and (min-width:481px) and (max-width:880px){
    .logo-feed{
        margin-left: 10px;
    }

    .input-search{
        position: absolute;
        left: 60px;
        width: auto;
     }

    .search-btn{
        position: absolute;
        left: 60px;
    }

    .create-btn{
        left: 75%;
    }

    .create-label{
        left: 72.5%;
    }

    .profile-btn{
        margin-left: 75%;
    }

    .small-text{
        position: absolute;
        left: 86%;
    }

    .dropdown{
        left: 90%;
    }

    .post-textarea{
        margin-left: 50px;
        max-width: 80%;
        height: 430px;
    }

    .close-btn{
        position: relative;
        left: 76%;
    }

    .textarea{
        height: 288px;
        max-width: 95%;
    }

    .post-btn{
        position: absolute;
        left: 80%;
    }

    .line4{
        position: relative;
        top: 300px;
    }

    .profile-menu{
        margin-left: 10px;
        width: 45%;
        position: relative;
        top: 0;
        left: 225px;
    }
}

@media screen and (min-width:881px) and (max-width:1436px){
    .logo-feed{
        margin-left: 30px;
    }

    .input-search{
        position: absolute;
        left: 80px;
        width: auto;
    }

    .search-btn{
        position: absolute;
        left: 80px;
    }

    .profile-btn{
        margin-left: 80%;
    }

    .small-text{
        position: absolute;
        left: 88%;
    }

    .dropdown{
        left: 90.2%;
    }

    .create-btn{
        left: 80%;
    }

    .create-label{
        left: 78.5%;
    }

    .post-textarea{
        margin-left: 300px;
        height: 430px;
    }

    .close-btn{
        position: relative;
        left: 78.5%;
    }

    .textarea{
        height: 288px;
        max-width: 95.5%;
    }

    .post-btn{
        position: absolute;
        left: 82%;
    }

    .line4{
        position: relative;
        top: 300px;
    }

    .profile-menu{
        margin-left: 10px;
        width: 25%;
        position: relative;
        top: 0;
        left: 66.6%;
    }
}

@media screen and (min-width:1500px) and (max-width:2560px){
    .profile-btn{
        margin-left:60%;
    }

    .dropdown{
        left: 70.3%;
    }

    .create-label{
        left: 64.5%;
    }

    .post-textarea{
        margin-left: 28%;
        max-width: 40%;
    }

    .profile-menu{
        margin-left: 10px;
        width: 10%;
        position: relative;
        top: 0;
        left: 61%;
    }
}