.header{
    background-color: white;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    position: relative;
    position: fixed;
    top: 0;
}

.input-search{
    width: 250px;
    border-radius: 3px;
    padding: 8px;
    border: none;
    background: #eef3f8;
    position: absolute;
    top: 12px;
    left: 250px;
    padding-left: 30px;
}

.logo-feed{
   height: 55px;
   margin-left: 200px;
}

.search-btn{
    position: absolute; 
    top: 15px; 
    left: 250px;
    color: #00000099;
    cursor: pointer;
}

.profile-btn{
    margin-left: 55.2%;
    position: absolute;
    top: 5px;
    padding: 5px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

.small-text{
    margin-left: 60.5em;
    position: absolute;
    top: 32px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text:hover{
    color: black;
}

.dropdown{
    margin-left: 34.5em;
    position: absolute;
    top: 29px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

.profile-menu{
    margin-top: 5px;
    border-top: 2px solid white;
    background: white;
    width: 15%;
    margin-left: 56em;
    border-radius: 5px;
    visibility: hidden;
    height: 110px;
}

.profile-menu.expend{
    visibility: visible;
}

.profile-menu-h1{
   margin-top: -50px;
   margin-left: 65px;
   font-weight: 500;
   font-size: x-large;
}

.signout-label{
    color: #00000099;
    cursor: pointer;
    position: relative;
    left: 15px;
}

.signout-label:hover{
    text-decoration: underline;
}

.create-btn{
    position: absolute;
    top: 10px;
    left: 65%;
    color: #00000099;
    cursor: pointer;
}

.create-btn:hover{
    color: black;
}

.create-label{
    position: absolute;
    top: 32px;
    left:64.1%;
    color: #00000099;
    cursor: pointer;
    border: none;
    background: none;
}

.post-textarea{
    background: white;
    height: 450px;
    width: 50.4%;
    margin-left: 400px;
    position: relative;
    bottom: 130px;
    border-radius: 8px;
    visibility: hidden;
}

.post-textarea.expand{
    visibility: visible;
}

.post-textarea-h1{
    margin-top: -49px;
    margin-left: 65px;
}

.textarea{
    position: absolute;
    top: 75px;
    font-size: large;
    font-family: inherit;
    border: none;
    resize: none;
    padding-left: 15px;
    border-bottom: 1.5px solid gainsboro;
}

.textarea:focus{
    outline: none;
}

.close-btn{
    color: #00000099;
    cursor: pointer;
    position: relative;
    left: 86.5%;
    bottom: 13px;
    padding: 2px;
}

.close-btn:hover{
    color: black;
    background: gainsboro;
    border-radius: 20px;
    
}

.post-btn{
    position: absolute;
    bottom: 15px;
    left: 90%;
    border-radius: 20px;
    padding: 8px 16px;
    background-color: #0A66C2;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: medium;
}

.post-btn.disabled{
    color: #0000004d;
    background-color: gainsboro;
    cursor: not-allowed;
}

.line3{
    border: 1px solid gainsboro;
    border-bottom: thin;
    margin-top: 30px;
}

.success-msg{
    position: relative;
    bottom: 700px;
    left: 45%;
    background: green;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    color: white;
    opacity: 0;
    transform: translateY(-100%); 
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.success-msg.show{
    bottom: 640px;
    opacity: 1;
    transform: translateY(0); 
}

