.header{
    background-color: white;
    height: 3.5rem;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    position: relative;
}

.input-search{
    width: 250px;
    border-radius: 3px;
    padding: 8px;
    border: none;
    background: #eef3f8;
    position: absolute;
    top: 12px;
    left: 250px;
}

.logo-feed{
   height: 55px;
   margin-left: 200px;
}

.logout-btn{
   margin-left: 0;
   position: absolute;
   top: 148px;
   padding: 5px;
   background: none;
   border: none;
   color: #00000099;
   cursor: pointer;
}

.logout-btn:hover{
    color: black;
}

.search-btn{
    position: absolute; 
    top: 15px; 
    left: 250px;
    color: #00000099;
    cursor: pointer;
}

.profile-btn{
    margin-left: 55.3%;
    position: absolute;
    top: 5px;
    padding: 5px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

/* .profile-btn:hover{
    color: black;
} */

.small-text{
    margin-left: 61em;
    position: absolute;
    top: 32px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.small-text:hover{
    color: black;
}

.dropdown{
    margin-left: 34.8em;
    position: absolute;
    top: 29px;
    background: none;
    border: none;
    color: #00000099;
    cursor: pointer;
}

.profile-menu{
    margin-top: 5px;
    border-top: 2px solid white;
    background: white;
    width: 15%;
    margin-left: 56em;
    border-radius: 5px;
    visibility: hidden;
    height: 130px;
    /* box-shadow: 15px black; */
}

.profile-menu.expend{
    visibility: visible;
}

.signout-label{
    margin-left: 30px;
    margin-top: 0px;
    color: #00000099;
    cursor: pointer;
}

.signout-label:hover{
    color: black;
}

.create-btn{
    position: absolute;
    top: 10px;
    left: 65%;
    color: #00000099;
    cursor: pointer;
}

.create-btn:hover{
    color: black;
}

.create-label{
    position: absolute;
    top: 32px;
    left:64.1%;
    color: #00000099;
    cursor: pointer;
    border: none;
    background: none;
}

.post-textarea{
    display: flex;
    flex-direction: column;
    background: white;
    height: 450px;
    width: 49.8%;
    margin-left: 400px;
    position: relative;
    bottom: 130px;
    border-radius: 8px;
    visibility: hidden;
}

.post-textarea.expand{
    visibility: visible;
}

.textarea{
    position: absolute;
    top: 100px;
    font-size: large;
    font-family: inherit;
    border: none;
    resize: none;
}

.textarea:focus{
    outline: none;
}

.close-btn{
    color: #00000099;
    cursor: pointer;
    margin-left: 95%;
    margin-top: 10px;
}

.close-btn:hover{
    color: black;
}

.post-btn{
    position: absolute;
    bottom: 25px;
    left: 91%;
    border-radius: 20px;
    padding: 6px 16px;
    background-color: #0A66C2;
    border: none;
    color: white;
    cursor: pointer;
}

.line3{
    position: absolute;
    bottom: 60px;
    width: 100%;
    color: gainsboro;
}

