body{
    background-color:#ececec;
}

.logo{
    display: inline;
    position: relative;
    left: 200px;
    top: 10px;
}

.heading h1{
    display: inline;
    position: relative;
    left: 450px;
    font-weight: 400;
}

.container{
    background-color: white;
    max-height: 420px;
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 560px;
    margin-top: 25px;
}

.container-item{
    padding: 25px;
}

.input-box{
    padding: 5px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid black;
}

.register-btn{
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    margin-left: 10px;
    cursor:pointer;
    border-radius:20px;
    border: 1px solid ;
    color: white;
    background-color: #0A66C2;
    margin-top: 20px;
}

.line{
    margin-top: 20px;
}

.already{
    margin-top: 20px;
    margin-left: 20px;
}

.already a{
    text-decoration: none;
    color: purple;
}


.error-msg{
    color: red;
    margin-left: 40px;
}

.error-msg-email{
    color: red;
    margin-left: 50px;
}

@media  screen and (max-width : 480px){
    .heading h1{
        display: inline;
        position: relative;
        left: 30px;
        font-size:large;
    }

    .container{
        margin-left: 40px;
    }

    .logo{
        position: relative;
        top: 0px;
        left: 0;
    }
}


@media screen  and (width:768px){
    .heading h1 {
        position: relative;
        left: 150px;
    }

    .logo{
        position: relative;
        left: 10px;
    }

    .container{
        margin-left: 250px;
    }
}

@media screen and (width:1024px){
    .heading h1{
        position: relative;
        left: 250px;
    }

    .logo{
        position: relative;
        left: 80px;
    }
    .container{
        margin-left: 380px;
    }
}

@media screen  and (width:2560px){
    .heading h1{
        position: relative;
        left: 900px;
    }

    .container{
        margin-left: 1050px;
    }
}