body{
    background-color:#ececec;
}

.logo{
    display: inline;
    position: relative;
    left: 200px;
    top: 10px;
}

.heading h1{
    display: inline;
    position: relative;
    left: 450px;
    font-weight: 400;
}

.container{
    background-color: white;
    max-height: 420px;
    width: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    left: 550px;
    border-radius: 5px;
}

.container-item{
    padding: 25px;
}

.input-box{
    padding: 5px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid black;
}

.register-btn{
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    margin-left: 10px;
    cursor:pointer;
    border-radius:20px;
    border: 1px solid ;
    color: white;
    background-color: #0A66C2;
    margin-top: 20px;
}

.line{
    margin-top: 20px;
}

.already{
    margin-top: 20px;
    margin-left: 20px;
}

.already a{
    text-decoration: none;
}

.error-msg{
    color: red;
    margin-left: 40px;
}

.error-msg-email{
    color: red;
    margin-left: 50px;
}

@media only screen and (max-device-width : 425px){
    .heading h1{
        display: inline;
        position: relative;
        left: 50px;
        font-size:large;
    }

    .container{
        position: relative;
        top: 30px;
        left: 60px;
    }

    .logo{
        position: relative;
        top: 0px;
        left: 0;
    }
}

@media only screen and (max-device-width : 320px){
    .heading h1{
        display: inline;
        position: relative;
        left: 2px;
        font-size:large;
    }

    .container{
        position: relative;
        top: 30px;
        left: 10px;
    }

    .logo{
        position: relative;
        top: 0px;
        left: 20px;
    }
}

@media only screen and (max-device-width : 375px){
    .heading h1{
        display: inline;
        position: relative;
        left: 20px;
        font-size:large;
    }

    .container{
        position: relative;
        top: 30px;
        left: 30px;
    }

    .logo{
        position: relative;
        top: 0px;
        left: 0;
    }
}