body{
    background-color:#ececec;
}

.logo{
    display: flex;
    margin-left: 200px;
    top: 10px;
}

.heading h1{
    display: flex;
    justify-content: center;
    margin-left: 30px;
    font-weight: 400;
}

.container{
    background-color: white;
    max-height: 420px;
    width: 300px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-left: 560px;
    margin-top: 25px;
}

.container-item{
    padding: 25px;
}

.input-box{
    padding: 5px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid black;
}

.register-btn{
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    margin-left: 10px;
    cursor:pointer;
    border-radius:20px;
    border: 1px solid ;
    color: white;
    background-color: #0A66C2;
    margin-top: 20px;
}

.line{
    margin-top: 20px;
}

.already{
    margin-top: 20px;
    margin-left: 20px;
}

.already a{
    text-decoration: none;
    color: purple;
}


.error-msg{
    color: red;
    margin-left: 40px;
}

.error-msg-email{
    color: red;
    margin-left: 50px;
}

@media screen and (max-width: 480px) {
    .heading h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-left: 0;
      font-size: 18px;
    }
  
    .container {
      margin: auto;
      width: 300px;
    }
  
    .logo {
      display: flex;
      margin-left: 0;
    }
  }
  
 @media screen and (min-width:481px) and (max-width:880px){
    .heading h1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 0;
        margin-left: 0;
        font-size: 30px;
        width: auto;
    }
    
    .logo{
        display: flex;
        margin-left: 10px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* margin-left: 250px; */
        margin: auto; 
    }
 }  


 @media screen and (min-width:881px) and (max-width:1436px){
    .logo{
        display: flex;
        margin-left: 80px;
    }

    .heading h1{
        display: flex;
        margin-left: 0;
        margin-top: 0;
    }

    .container{
        display: flex;
        margin: auto;
    }
 }

 @media screen and (min-width:1441px) and (max-width:2560px){
    .container{
        display: flex;
        margin: auto;
    }
 }
 